@charset "UTF-8";
@import "var";
@import "keyframes";
@import "header";
@import "sidebar";
@import "middle";

*{
	margin: 0;
	padding: 0;
}

:root{
	--screen-width: 0;
	--screen-height: 0;
}

html, body{
	width: var(--screen-width);
	height: var(--screen-height);
	display: flex;
}