@charset "UTF-8";
@import "var";

#sidebar_left{
	margin-left: 0;
	width: $logo_width + 20px;
	height: 100%;
	background-color: $lblue;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	display: none;
	box-shadow: 5px 5px 5px $bgblue;
	border-radius:0 10px 10px 0;
	z-index: 1;
	flex-direction: column;
	transform: translateX(-100%);
}

#sidebar_logo{
	margin: auto;
	width: $logo_width + 4px;
	height: $logo_height + 4px;
	display: flex;
}

#sidebar_logo_pic{
	width: $logo_width;
	height: $logo_height;
	margin: auto;
    &:hover{
        animation: scale_bigger 0.3s;
		animation-iteration-count: 1;
        transform: scale(1.1);
    }
}

#sidebar_option{
	width: 90%;
	height: 90%;
	display: flex;
	margin: auto;
	background-color: $bgred;
}

#sidebar_right{
	margin-right: 0;
	width: $logo_width + 10px;
	height: 95%;
	background-color: $lblue;
	position: relative;
	display: flex;
	top: 0;
	right: 0;
	display: none;
	box-shadow: -5px 5px 5px $bgblue;
	border-radius:10px 0 0 10px;
}