@charset "UTF-8";

//color
$lblue: lightblue;
$bgblue: rgb(180, 214, 225);
$bgred: red;

//width & height
$logo_width: 94px;
$logo_height: 47px;
$nav_btn_width: 94px;
$nav_btn_height: 47px;